h1, p {
  font-family: Lato;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


#mainContain {
	background:white;
	color: rgb(10, 2, 2);
}

.txtBox{

  margin-left: 85px;
    border-radius: 5px;
}

/* Style the counter cards */


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


label {
    
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}
input {
    height: 20px;
    width: 300px;
    
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    border: none;
    border-bottom: 0.5px solid #555353;
    overflow: hidden;  
    outline: none;  
}
input[type=checkbox] {
  height: 20px;
    width: 30px;    
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    float: left;
    border: none;
    border-bottom: 0.5px solid #555353;
    overflow: hidden;  
    outline: none;  
}
table { 
  width: 100%; 
  border-collapse: collapse;  
   margin-top: 15px;
    
    padding: 6px;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  font-size: 14px;
  color: white; 
  font-weight: bold;
  font-family: nhg-display-bold,Arial,Helvetica,sans-serif;
  text-align: center; 
  padding: 5px; 
  border: 1px solid #ccc; 
}
td { 
      font-size: 13px;
  padding: 5px; 
  border: 1px solid #ccc; 
  text-align: left; 
  font-family: nhg-display-bold,Arial,Helvetica,sans-serif;
}